# **Data Cleaning**

Introducing:

*   Duplicates
*   Dates and Times
*   Reorganizing Data
*   Null Values

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Data Cleaning Basics**

In [ ]:
import pandas as pd

In [ ]:
df_SAFI = pd.read_csv("/content/drive/MyDrive/TRIADS_workshops/workshop_data/SAFI.csv")

In [ ]:
df_SAFI.head()

In [ ]:
#Checking column headers

df_SAFI.info()

## Check for Duplicate Rows

In [ ]:
# Check for duplicates

duplicates = df_SAFI[df_SAFI.duplicated()]
duplicates

In [ ]:
# Remove duplicate rows
df_SAFI = df_SAFI.drop_duplicates()

## Dealing with Dates and Times in Pandas

In [ ]:
df_SAFI["interview_date"]

In [ ]:
df_SAFI["interview_date"][0]

In [ ]:
type(df_SAFI["interview_date"][0])

In [ ]:
# Converting certain columns to a pandas datetime object for stability and analysis

df_SAFI['interview_date'] = pd.to_datetime(df_SAFI['interview_date'], dayfirst=True)

In [ ]:
df_SAFI["interview_date"][0]

In [ ]:

#Specify local timezone
df_SAFI["interview_date"] = df_SAFI["interview_date"].dt.tz_localize("GMT")

#Convert the datetime object to a new timezone
df_SAFI["interview_date"] = df_SAFI["interview_date"].dt.tz_convert("EST")

In [ ]:
# Converting the datetime objects BACK to string format, in a format specified.
# To see different formatting options: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior


df_SAFI['interview_date'] = df_SAFI['interview_date'].dt.strftime('%Y-%m-%d')

In [ ]:
df_SAFI["interview_date"][0]

In [ ]:
type(df_SAFI["interview_date"][0])

## Alphabetizing by Columns

In [ ]:
df_SAFI = df_SAFI.sort_values(by='respondent_roof_type',
                              ascending=False)
df_SAFI["respondent_roof_type"]

In [ ]:
df_SAFI = df_SAFI.sort_values(by='respondent_roof_type', ascending=False)
df_SAFI["respondent_roof_type"]

## Standardizing Case

In [ ]:
df_SAFI['village']

In [ ]:
 df_SAFI["village"] = df_SAFI['village'].str.lower()

In [ ]:
df_SAFI['village']

## Renaming Columns

In [ ]:
new_column_names = []

for col in df_SAFI.columns:
    new_name = col.strip().lower().replace('_', '-')
    new_column_names.append(new_name)

df_SAFI.columns = new_column_names

In [ ]:
df_SAFI.columns

In [ ]:
df_SAFI.rename(columns={'gps:accuracy': 'gps-accuracy',
                        'gps:altitude': 'gps-altitude'},
                        inplace=True)

## Exercise: Data Cleaning Basics

Using the gdp_europe.csv file from earlier, clean the data in the following ways:

1.   Make the country names lowercase
2.   Put the rows in descending order of the GDP in Europe in 2007
3. Convert the column headers to datetime format

In [ ]:
df_europe = pd.read_csv("/content/drive/MyDrive/python_bootcamp/sample_data/gdp_europe.csv")

In [ ]:
df_europe.head()

In [ ]:
df_europe['country'] = df_europe['country'].str.lower()

df_europe = df_europe.sort_values(by='2007', ascending=False)

In [ ]:
new_columns = []

for col in df_europe.columns:
    if col != 'country':
        new_columns.append(pd.to_datetime(col, format='%Y'))
    else:
        new_columns.append(col)

df_europe.columns = new_columns

In [ ]:
df_europe.head()

### **NaN or Null Cells**

In [ ]:
df_SAFI.head()

In [ ]:
df_SAFI = df_SAFI[['years-farm','respondent-roof-type', 'respondent-wall-type',
       'respondent-wall-type-other', 'respondent-floor-type',
       'window-type', 'buildings-in-compound', 'rooms', 'other-buildings',
       'plots-count', 'memb-assoc', 'note']]

In [ ]:
df_SAFI.head()

In [ ]:
df_SAFI.info()

In [ ]:
df_SAFI['memb-assoc']

In [ ]:
#Remove rows with a NaN value in a particular column

df_SAFI = df_SAFI[df_SAFI['memb-assoc'].notna()].reset_index(drop=True)

df_SAFI.info()

In [ ]:
df_SAFI.head()

In [ ]:
#Use dropna() to remove all columns with NaN values

df_SAFI.dropna(inplace=True, axis="columns")
df_SAFI.info()

In [ ]:
df_SAFI.head()

In [ ]:
# Save cleaned dataframe to a new csv file

df_SAFI.to_csv("/content/drive/MyDrive/python_bootcamp/sample_data/SAFI_cleaned.csv")

# Exercise!!

## Exercise: Cleaning Null Cells


1.   Create a new dataframe called SAFI_subset from the original SAFI.csv that contains the columns respondent_roof_type, respondent_wall_type, respondent_wall_type_other, and respondent_floor_type.
2.  Calculate the percentage of cells in the new dataframe that are null. (Hint: Use your mathematical operators!!)

In [ ]:
#Exercise 1:

df_SAFI = pd.read_csv("/content/drive/MyDrive/python_bootcamp/sample_data/SAFI.csv")

df_SAFI_subset = df_SAFI[["respondent_roof_type", "respondent_wall_type",
                          "respondent_wall_type_other", "respondent_floor_type"]]

In [ ]:
df_SAFI_subset.isnull()

In [ ]:
df_SAFI_subset.isnull().sum().sum()

In [ ]:
# Summing the sums of each column, for a total sum

df_SAFI_subset.isnull().sum().sum()

In [ ]:
col_no = len(df_SAFI_subset.columns)
row_no = len(df_SAFI_subset.index)

total_cells = col_no * row_no

null_cells = df_SAFI_subset.isnull().sum().sum()

percentage_null = ((null_cells/total_cells) * 100)

print(percentage_null)

In [ ]:
df_SAFI.info()