## **Demo 1 for Python Data Analysis**

Introducing:

*   Accessing tabular data with Pandas
*   Basic tabular data manipulation

## **Part 1: Accessing and Summarizing Tabular Data**

In [ ]:
file = open("/content/drive/MyDrive/TRIADS_workshops/workshop_data/gdp_europe.csv")
content = file.read()
print(content)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
#Using pandas to open a dataframe from the contents of the csv file gdp_africa.csv.
#Saving the contents of the csv file to variable df

df_europe = pd.read_csv("/content/drive/MyDrive/TRIADS_workshops/workshop_data/gdp_europe.csv",
                        index_col=0)

In [ ]:
#printing the first three rows of the dataframe

df_europe.head(10)

In [ ]:
#Printing the last few rows of the dataframe

df_europe.tail(10)

In [ ]:
#Getting summary info about the dataframe

df_europe.info()

In [ ]:
#Getting summary statistics about the dataframe

df_europe.describe()

## **Slicing Data Subsets**

In [ ]:
#Slicing a **column** of the dataframe

df_europe["1952"]

In [ ]:
#Slicing two columns--note the double square brackets

df_europe[["1952", "1962"]]

In [ ]:
#Slicing a **row** of a dataframe--note the difference to slicing a column

df_europe.loc["Belgium"]

In [ ]:
#Slicing multiple rows--again, note the double square brackets

df_europe.loc[["Belgium", "Slovenia", "Austria"]]

In [ ]:
#Getting a particular cell's value based on column and row headings

df_europe.loc["Belgium", "1952"]

In [ ]:
#Getting a subset of data using a slice of both rows and columns

df_europe.loc['Italy':'Poland', '1962':'1972']

In [ ]:
# Getting a slice of the dataframe between two columns

df2 = df_europe.loc[:, '1962':'1972']

df2.head()

In [ ]:
df2

In [ ]:
# Getting a slice between two rows

df3 = df_europe.loc['Italy':'Poland']
df3.head()

In [ ]:
#Find the minimum value in a particular **column**

df_europe["1952"].min()

In [ ]:
df_europe["1952"].idxmin()

In [ ]:
#Find the minimum value in a particular **row**

df_europe.loc["Belgium"].max()

In [ ]:
#Get the mean GDP of every column in the dataset

df_europe.mean()

In [ ]:
#Get the mean value of a particular column

df_europe["1952"].mean()

In [ ]:
#Extracting the names of the columns

years = df_europe.columns.values
print(years)

In [ ]:
#Extracting the names of rows

countries = df_europe.index.values
print(countries)

In [ ]:
# Get the index of a column by its header
df_europe.columns.get_loc("1972")

# Exercise: Data Subsets

1. Write the code to print each country in the data file gdp_africa.csv and that country's mean gdp between 1952 and 1982.

2. Now write the code to print each year in gdp_africa.csv and the mean GDP in Africa that year. How does your code differ from part one?

### Exercise: Data Subsets -- Part One Solution

In [ ]:
import pandas as pd

df_africa = pd.read_csv("/content/drive/MyDrive/TRIADS_workshops/workshop_data/gdp_africa.csv", index_col=0)

In [ ]:
countries_africa = df_africa.index.values

for x in countries_africa:
  y = df_africa.loc[x, "1952": "1982"].mean()
  print(x, y)

In [ ]:
#Part 1 Alternative (not possible with commands from demo!)

df_52_82 = df_africa.loc[:, "1952":"1982"]

df_52_82.mean(axis=1)

In [ ]:
countries_africa = df_africa.index.values

df_52_82 = df_africa.loc[:, "1952":"1982"]

for x in countries_africa:
  y = df_52_82.loc[x].mean()
  print(x, y)

### Exercise: Data Subsets -- Part Two Solution

In [ ]:
#Part 2 Solution

years_africa = df_africa.columns.values

for x in years_africa:
  y = df_africa[x].mean()
  print(x, y)

In [ ]:
#Part 2 Alternative

df_52_82.mean()