In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Demo 1 - Pandas

In [ ]:
file = open("/content/drive/MyDrive/workshop_data/gdp_europe.csv")
content = file.read()
print(content)

country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.59803,10750.72111,12834.6024,16661.6256,19749.4223,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.4927
Belgium,8343.105127,9714.960623,10991.20676,13149.04119,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Bosnia and Herzegovina,973.5331948,1353.989176,1709.683679,2172.352423,2860.16975,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.0028,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.38876,7696.777725,10680.79282
Croatia,3119.23652,4338.231617,5477.890018,6960.297861,9164.090127,11305.38517,13221.82184,13822.58394,8447.794873,9875.604515,11628.38895,14619.22272
Czech Republic,6876.14025,8256.343918,10136.86713,11399.44489,13108.4536,14800.16062,15377.22855,16310.4434,14297.02122,16048.51424,17596.21022,22833.30851
Denmark,9692.385245,11099.65935,13583.31351,15937.21123,18866.20721,20422.9015,21688.04048,25116.17581,26406.73985,29804.34567,32166.50006,35278.41874
Finland,6424.519071,7545.415386,9371.842561,10921.63626,14358.8759,15605.42283,18533.15761,21141.01223,20647.16499,23723.9502,28204.59057,33207.0844
France,7029.809327,8662.834898,10560.48553,12999.91766,16107.19171,18292.63514,20293.89746,22066.44214,24703.79615,25889.78487,28926.03234,30470.0167
Germany,7144.114393,10187.82665,12902.46291,14745.62561,18016.18027,20512.92123,22031.53274,24639.18566,26505.30317,27788.88416,30035.80198,32170.37442
Greece,3530.690067,4916.299889,6017.190733,8513.097016,12724.82957,14195.52428,15268.42089,16120.52839,17541.49634,18747.69814,22514.2548,27538.41188
Hungary,5263.673816,6040.180011,7550.359877,9326.64467,10168.65611,11674.83737,12545.99066,12986.47998,10535.62855,11712.7768,14843.93556,18008.94444
Iceland,7267.688428,9244.001412,10350.15906,13319.89568,15798.06362,19654.96247,23269.6075,26923.20628,25144.39201,28061.09966,31163.20196,36180.78919
Ireland,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.98113,12618.32141,13872.86652,17558.81555,24521.94713,34077.04939,40675.99635
Italy,4931.404155,6248.656232,8243.58234,10022.40131,12269.27378,14255.98475,16537.4835,19207.23482,22013.64486,24675.02446,27968.09817,28569.7197
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.58762,11732.51017,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,8941.571858,11276.19344,12790.84956,15363.25136,18794.74567,21209.0592,21399.46046,23651.32361,26790.94961,30246.13063,33724.75778,36797.93332
Norway,10095.42172,11653.97304,13450.40151,16361.87647,18965.05551,23311.34939,26298.63531,31540.9748,33965.66115,41283.16433,44683.97525,49357.19017
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.58368,12002.23908,15389.92468
Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.48572,11753.84291,13039.30876,16207.26663,17641.03156,19970.90787,20509.64777
Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.39724,9605.314053,9696.273295,6598.409903,7346.547557,7885.360081,10808.47561
Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.06749,12980.66956,15181.0927,15870.87851,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,5074.659104,6093.26298,7481.107598,8412.902397,9674.167626,10922.66404,11348.54585,12037.26758,9498.467723,12126.23065,13638.77837,18678.31435
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.4862,15277.03017,17866.72175,18678.53492,14214.71681,17161.10735,20660.01936,25768.25759
Spain,3834.034742,4564.80241,5693.843879,7993.512294,10638.75131,13236.92117,13926.16997,15764.98313,18603.06452,20445.29896,24835.47166,28821.0637
Sweden,8527.844662,9911.878226,12329.44192,15258.29697,17832.02464,18855.72521,20667.38125,23586.92927,23880.01683,25266.59499,29341.63093,33859.74835
Switzerland,14734.23275,17909.48973,20431.0927,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.5303,32135.32301,34480.95771,37506.41907
Turkey,1969.10098,2218.754257,2322.869908,2826.356387,3450.69638,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.17795,12477.17707,14142.85089,15895.11641,17428.74846,18232.42452,21664.78767,22705.09254,26074.53136,29478.99919,33203.26128

In [ ]:
import pandas as pd

In [ ]:
#Using pandas to open a dataframe from the contents of the csv file gdp_africa.csv.
#Saving the contents of the csv file to variable df

df_europe = pd.read_csv("/content/drive/MyDrive/workshop_data/gdp_europe.csv", index_col=0)

In [ ]:
#printing the first three rows of the dataframe

df_europe.head()

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [ ]:
#Printing the last few rows of the dataframe

df_europe.tail(10)

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Portugal,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

In [ ]:
#Getting summary info about the dataframe

df_europe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Albania to United Kingdom
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1952    30 non-null     float64
 1   1957    30 non-null     float64
 2   1962    30 non-null     float64
 3   1967    30 non-null     float64
 4   1972    30 non-null     float64
 5   1977    30 non-null     float64
 6   1982    30 non-null     float64
 7   1987    30 non-null     float64
 8   1992    30 non-null     float64
 9   1997    30 non-null     float64
 10  2002    30 non-null     float64
 11  2007    30 non-null     float64
dtypes: float64(12)
memory usage: 3.0+ KB

In [ ]:
#Getting summary statistics about the dataframe

df_europe.describe()

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,5661.057435,6963.012816,8365.486814,10143.823757,12479.575246,14283.979110,15617.896551,17214.310727,17061.568084,19076.781802,21711.732422,25054.481636
std,3114.060493,3677.950146,4199.193906,4724.983889,5509.691411,5874.464896,6453.234827,7482.957960,9109.804361,10065.457716,11197.355517,11800.339811
min,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
25%,3241.132406,4394.874315,5373.536612,6657.939047,9057.708094,10360.030300,11449.870115,12274.570680,8667.113214,9946.599306,11721.851483,14811.898210
50%,5142.469716,6066.721495,7515.733737,9366.067033,12326.379990,14225.754515,15322.824720,16215.485895,17550.155945,19596.498550,23674.863230,28054.065790
75%,7236.794919,9597.220820,10931.085348,13277.182058,16523.017127,19052.412163,20901.729730,23321.587723,25034.243045,27189.530312,30373.363307,33817.962533
max,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170

In [ ]:
#Slicing a **column** of the dataframe

df_europe["1952"]

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: 1952, dtype: float64

In [ ]:
#Slicing two columns--note the double square brackets

df_europe[["1952", "1962"]]

                                1952          1962
country
Albania                  1601.056136   2312.888958
Austria                  6137.076492  10750.721110
Belgium                  8343.105127  10991.206760
Bosnia and Herzegovina    973.533195   1709.683679
Bulgaria                 2444.286648   4254.337839
Croatia                  3119.236520   5477.890018
Czech Republic           6876.140250  10136.867130
Denmark                  9692.385245  13583.313510
Finland                  6424.519071   9371.842561
France                   7029.809327  10560.485530
Germany                  7144.114393  12902.462910
Greece                   3530.690067   6017.190733
Hungary                  5263.673816   7550.359877
Iceland                  7267.688428  10350.159060
Ireland                  5210.280328   6631.597314
Italy                    4931.404155   8243.582340
Montenegro               2647.585601   4649.593785
Netherlands              8941.571858  12790.849560
Norway                  10095.421720  13450.401510
Poland                   4029.329699   5338.752143
Portugal                 3068.319867   4727.954889
Romania                  3144.613186   4734.997586
Serbia                   3581.459448   6289.629157
Slovak Republic          5074.659104   7481.107598
Slovenia                 4215.041741   7402.303395
Spain                    3834.034742   5693.843879
Sweden                   8527.844662  12329.441920
Switzerland             14734.232750  20431.092700
Turkey                   1969.100980   2322.869908
United Kingdom           9979.508487  12477.177070

In [ ]:
#Slicing a **row** of a dataframe--note the difference to slicing a column

df_europe.loc["Belgium"]

1952     8343.105127
1957     9714.960623
1962    10991.206760
1967    13149.041190
1972    16672.143560
1977    19117.974480
1982    20979.845890
1987    22525.563080
1992    25575.570690
1997    27561.196630
2002    30485.883750
2007    33692.605080
Name: Belgium, dtype: float64

In [ ]:
#Slicing multiple rows--again, note the double square brackets

df_europe.loc[["Belgium", "Slovenia", "Austria"]]

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Slovenia,4215.041741,5862.276629,7402.303395,9405.489397,12383.48620,15277.03017,17866.72175,18678.53492,14214.71681,17161.10735,20660.01936,25768.25759
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270

In [ ]:
#Getting a particular cell's value based on column and row headings

df_europe.loc["Belgium", "1952"]

8343.105127

In [ ]:
#Getting a subset of data using a slice of both rows and columns

df_europe.loc['Italy':'Poland', '1962':'1972']

                     1962          1967          1972
country
Italy         8243.582340  10022.401310  12269.273780
Montenegro    4649.593785   5907.850937   7778.414017
Netherlands  12790.849560  15363.251360  18794.745670
Norway       13450.401510  16361.876470  18965.055510
Poland        5338.752143   6557.152776   8006.506993

In [ ]:
# Getting a slice of the dataframe between two columns

df2 = df_europe.loc[:, '1962':'1972']
df2.head(30)

                                1962          1967          1972
country
Albania                  2312.888958   2760.196931   3313.422188
Austria                 10750.721110  12834.602400  16661.625600
Belgium                 10991.206760  13149.041190  16672.143560
Bosnia and Herzegovina   1709.683679   2172.352423   2860.169750
Bulgaria                 4254.337839   5577.002800   6597.494398
Croatia                  5477.890018   6960.297861   9164.090127
Czech Republic          10136.867130  11399.444890  13108.453600
Denmark                 13583.313510  15937.211230  18866.207210
Finland                  9371.842561  10921.636260  14358.875900
France                  10560.485530  12999.917660  16107.191710
Germany                 12902.462910  14745.625610  18016.180270
Greece                   6017.190733   8513.097016  12724.829570
Hungary                  7550.359877   9326.644670  10168.656110
Iceland                 10350.159060  13319.895680  15798.063620
Ireland                  6631.597314   7655.568963   9530.772896
Italy                    8243.582340  10022.401310  12269.273780
Montenegro               4649.593785   5907.850937   7778.414017
Netherlands             12790.849560  15363.251360  18794.745670
Norway                  13450.401510  16361.876470  18965.055510
Poland                   5338.752143   6557.152776   8006.506993
Portugal                 4727.954889   6361.517993   9022.247417
Romania                  4734.997586   6470.866545   8011.414402
Serbia                   6289.629157   7991.707066  10522.067490
Slovak Republic          7481.107598   8412.902397   9674.167626
Slovenia                 7402.303395   9405.489397  12383.486200
Spain                    5693.843879   7993.512294  10638.751310
Sweden                  12329.441920  15258.296970  17832.024640
Switzerland             20431.092700  22966.144320  27195.113040
Turkey                   2322.869908   2826.356387   3450.696380
United Kingdom          12477.177070  14142.850890  15895.116410

In [ ]:
# Getting a slice between two rows

df3 = df_europe.loc['Italy':'Poland', :]
df3.head()

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Italy,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680

In [ ]:
#Find the minimum value in a particular **column**

df_europe["1952"].min()

973.5331948

In [ ]:
#Find the minimum value in a particular **row**

df_europe.loc["Belgium"].max()

33692.60508

In [ ]:
#Get the mean GDP of every column in the dataset

df_europe.mean()

1952     5661.057435
1957     6963.012816
1962     8365.486814
1967    10143.823757
1972    12479.575246
1977    14283.979110
1982    15617.896551
1987    17214.310727
1992    17061.568084
1997    19076.781802
2002    21711.732422
2007    25054.481636
dtype: float64

In [ ]:
#Get the mean value of a particular column

df_europe["1952"].mean()

5661.0574347599995

In [ ]:
#Extracting the names of the columns

years = df_europe.columns.values
print(years)

['1952' '1957' '1962' '1967' '1972' '1977' '1982' '1987' '1992' '1997'
 '2002' '2007']

In [ ]:
#Extracting the names of rows

countries = df_europe.index.values
print(countries)

['Albania' 'Austria' 'Belgium' 'Bosnia and Herzegovina' 'Bulgaria'
 'Croatia' 'Czech Republic' 'Denmark' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Montenegro' 'Netherlands'
 'Norway' 'Poland' 'Portugal' 'Romania' 'Serbia' 'Slovak Republic'
 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey' 'United Kingdom']

# Exercise!!

1. Write the code to print each country in the data file gdp_africa.csv and that country's mean gdp between 1952 and 1982.

2. Now write the code to print each year in gdp_africa.csv and the mean GDP in Africa that year. How does your code differ from part one?

## Part One Solution

In [ ]:
df_africa = pd.read_csv("/content/drive/MyDrive/workshop_data/gdp_africa.csv", index_col=0)
df_africa.head()

In [ ]:
countries_africa = df_africa.index.values

for x in countries_africa:
  y = df_africa.loc[x, "1952": "1982"].mean()
  print(x, y)

## Part Two Solution

In [ ]:
years_africa = df_africa.columns.values

for x in years_africa:
  y = df_africa[x].mean()
  print(x, y)