# Data Cleaning

In [ ]:
import pandas as pd

In [ ]:
df_SAFI = pd.read_csv("/content/drive/MyDrive/workshop_data/SAFI_results.csv")

In [ ]:
df_SAFI.head()

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.0,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Province1,District1,Ward2,Village2,2,...,no,3,2,7,NaN,19.0,690,-19.112477,33.483416,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,2,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Province1,District1,Ward2,Village2,40,...,no,1,2,10,NaN,13.0,674,-19.112108,33.483450,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,3,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,7,NaN,5.0,679,-19.112229,33.483424,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.0,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [ ]:
df_SAFI.columns.values

array(['Column1', 'A01_interview_date', 'A03_quest_no', 'A04_start',
       'A05_end', 'A06_province', 'A07_district', 'A08_ward',
       'A09_village', 'A11_years_farm', 'A12_agr_assoc',
       'B11_remittance_money', 'B16_years_liv', 'B17_parents_liv',
       'B18_sp_parents_liv', 'B19_grand_liv', 'B20_sp_grand_liv',
       'B_no_membrs', 'C01_respondent_roof_type',
       'C02_respondent_wall_type', 'C02_respondent_wall_type_other',
       'C03_respondent_floor_type', 'C04_window_type',
       'C05_buildings_in_compound', 'C06_rooms', 'C07_other_buildings',
       'D_plots_count', 'E01_water_use', 'E17_no_enough_water',
       'E19_period_use', 'E20_exper_other', 'E21_other_meth',
       'E23_memb_assoc', 'E24_resp_assoc', 'E25_fees_water',
       'E26_affect_conflicts', 'E_no_group_count', 'E_yes_group_count',
       'F04_need_money', 'F05_money_source_other', 'F06_crops_contr',
       'F08_emply_lab', 'F09_du_labour', 'F10_liv_owned_other',
       'F12_poultry', 'F13_du_look_aftr_cows', 'F_liv_count',
       'G01_no_meals', '_members_count', '_note', 'gps:Accuracy',
       'gps:Altitude', 'gps:Latitude', 'gps:Longitude', 'instanceID'],
      dtype=object)

In [ ]:
#Removing codes from start of column headers

df_SAFI.columns = df_SAFI.columns.str.replace(r'^.*?_', '', regex=True)

In [ ]:
df_SAFI.columns.values

array(['Column1', 'interview_date', 'quest_no', 'start', 'end',
       'province', 'district', 'ward', 'village', 'years_farm',
       'agr_assoc', 'remittance_money', 'years_liv', 'parents_liv',
       'sp_parents_liv', 'grand_liv', 'sp_grand_liv', 'no_membrs',
       'respondent_roof_type', 'respondent_wall_type',
       'respondent_wall_type_other', 'respondent_floor_type',
       'window_type', 'buildings_in_compound', 'rooms', 'other_buildings',
       'plots_count', 'water_use', 'no_enough_water', 'period_use',
       'exper_other', 'other_meth', 'memb_assoc', 'resp_assoc',
       'fees_water', 'affect_conflicts', 'no_group_count',
       'yes_group_count', 'need_money', 'money_source_other',
       'crops_contr', 'emply_lab', 'du_labour', 'liv_owned_other',
       'poultry', 'du_look_aftr_cows', 'liv_count', 'no_meals',
       'members_count', 'note', 'gps:Accuracy', 'gps:Altitude',
       'gps:Latitude', 'gps:Longitude', 'instanceID'], dtype=object)

In [ ]:
#Checking column headers

df_SAFI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Column1                     131 non-null    int64
 1   interview_date              131 non-null    object
 2   quest_no                    131 non-null    int64
 3   start                       131 non-null    object
 4   end                         131 non-null    object
 5   province                    131 non-null    object
 6   district                    131 non-null    object
 7   ward                        131 non-null    object
 8   village                     131 non-null    object
 9   years_farm                  131 non-null    int64
 10  agr_assoc                   131 non-null    object
 11  remittance_money            131 non-null    object
 12  years_liv                   131 non-null    int64
 13  parents_liv                 131 non-null    object
 14  sp_parents_liv              131 non-null    object
 15  grand_liv                   131 non-null    object
 16  sp_grand_liv                131 non-null    object
 17  no_membrs                   131 non-null    int64
 18  respondent_roof_type        131 non-null    object
 19  respondent_wall_type        131 non-null    object
 20  respondent_wall_type_other  0 non-null      float64
 21  respondent_floor_type       131 non-null    object
 22  window_type                 131 non-null    object
 23  buildings_in_compound       131 non-null    int64
 24  rooms                       131 non-null    int64
 25  other_buildings             131 non-null    object
 26  plots_count                 131 non-null    int64
 27  water_use                   131 non-null    object
 28  no_enough_water             92 non-null     object
 29  period_use                  92 non-null     float64
 30  exper_other                 92 non-null     object
 31  other_meth                  92 non-null     object
 32  memb_assoc                  92 non-null     object
 33  resp_assoc                  33 non-null     object
 34  fees_water                  92 non-null     object
 35  affect_conflicts            92 non-null     object
 36  no_group_count              39 non-null     float64
 37  yes_group_count             92 non-null     float64
 38  need_money                  92 non-null     object
 39  money_source_other          0 non-null      float64
 40  crops_contr                 92 non-null     object
 41  emply_lab                   131 non-null    object
 42  du_labour                   131 non-null    object
 43  liv_owned_other             0 non-null      float64
 44  poultry                     131 non-null    object
 45  du_look_aftr_cows           131 non-null    object
 46  liv_count                   131 non-null    int64
 47  no_meals                    131 non-null    int64
 48  members_count               131 non-null    int64
 49  note                        0 non-null      float64
 50  gps:Accuracy                131 non-null    float64
 51  gps:Altitude                131 non-null    int64
 52  gps:Latitude                131 non-null    float64
 53  gps:Longitude               131 non-null    float64
 54  instanceID                  131 non-null    object
dtypes: float64(10), int64(12), object(33)
memory usage: 56.4+ KB

In [ ]:
df_SAFI = df_SAFI[['years_farm',
       'respondent_roof_type', 'respondent_wall_type',
       'respondent_floor_type', 'buildings_in_compound',
       'rooms', 'other_buildings',
        'plots_count', 'note',
        'memb_assoc']]

In [ ]:
df_SAFI.head()

,years_farm,respondent_roof_type,respondent_wall_type,respondent_floor_type,buildings_in_compound,rooms,other_buildings,plots_count,note,memb_assoc
0,11,grass,muddaub,earth,1,1,no,2,NaN,NaN
1,2,grass,muddaub,earth,1,1,no,3,NaN,yes
2,40,mabatisloping,burntbricks,cement,1,1,no,1,NaN,NaN
3,6,mabatisloping,burntbricks,earth,1,1,no,3,NaN,NaN
4,18,grass,burntbricks,earth,1,1,no,2,NaN,NaN

In [ ]:
df_SAFI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   years_farm             131 non-null    int64
 1   respondent_roof_type   131 non-null    object
 2   respondent_wall_type   131 non-null    object
 3   respondent_floor_type  131 non-null    object
 4   buildings_in_compound  131 non-null    int64
 5   rooms                  131 non-null    int64
 6   other_buildings        131 non-null    object
 7   plots_count            131 non-null    int64
 8   note                   0 non-null      float64
 9   memb_assoc             92 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 10.4+ KB

In [ ]:
df_SAFI['memb_assoc']

0      NaN
1      yes
2      NaN
3      NaN
4      NaN
      ...
126     no
127     no
128     no
129    yes
130    NaN
Name: memb_assoc, Length: 131, dtype: object

In [ ]:
#Remove rows with a NaN value in a particular column

df_SAFI = df_SAFI[df_SAFI['memb_assoc'].notna()]

df_SAFI.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 1 to 129
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   years_farm             92 non-null     int64
 1   respondent_roof_type   92 non-null     object
 2   respondent_wall_type   92 non-null     object
 3   respondent_floor_type  92 non-null     object
 4   buildings_in_compound  92 non-null     int64
 5   rooms                  92 non-null     int64
 6   other_buildings        92 non-null     object
 7   plots_count            92 non-null     int64
 8   note                   0 non-null      float64
 9   memb_assoc             92 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 7.9+ KB

In [ ]:
#Use dropna() to remove all columns with NaN values

df_SAFI.dropna(inplace=True, axis="columns")
df_SAFI.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 1 to 129
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   years_farm             92 non-null     int64
 1   respondent_roof_type   92 non-null     object
 2   respondent_wall_type   92 non-null     object
 3   respondent_floor_type  92 non-null     object
 4   buildings_in_compound  92 non-null     int64
 5   rooms                  92 non-null     int64
 6   other_buildings        92 non-null     object
 7   plots_count            92 non-null     int64
 8   memb_assoc             92 non-null     object
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

In [ ]:
# Save cleaned dataframe to a new csv file

df_SAFI.to_csv("/content/drive/MyDrive/workshop_data/SAFI_results_cleaned.csv")

In [ ]:
#Using describe to count how many cells in a column have non-null values

df_SAFI['years_farm'].describe()

# Exercise!!

## Create a new dataframe called SAFI_subset from the original SAFI_results.csv that contains the columns respondent_roof_type, respondent_wall_type, respondent_wall_type_other, and respondent_floor_type. Calculate the percentage of cells in the new dataframe that are null.